.buy button {
  margin-right: 15px;
}
.custom-table {
  font-size: 14px !important;
}

.custom-table td {
  padding: 8px !important;
}
.custom-table tbody {
  border: none;
}
tbody,
td,
tfoot,
th,
thead,
tr {
  border: none;
}
.fw-normal td,
.fw-normal th {
  font-weight: 400 !important;
}
.cl-w{
  color: #fff !important;
}
.mt-10px{
  margin-top: 10px;
}
.mb-15px{
  margin-bottom: 15px;
}