.table-header th {
  vertical-align: middle !important;
}
.check-col {
  width: 150px;
}
.table-center {
  margin: 0 auto;
  width: 800px;
}
.button-action {
  position: relative;
}
.button-action span {
  height: 60px;
  width: 60px;
  display: block;
  z-index: 2;
  background: #fff;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  padding-top: 15px;
}

.button-action span i {
  font-size: 25px;
}
.tooltip-action {
  background: #fff;
  font-size: 20px;
  padding: 10px 18px;
  top: -40px;
  right: 0;
  opacity: 0;
  pointer-events: none;
  border-radius: 25px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  position: absolute;
  z-index: 2;
  width: 180px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
  height: 110px;
}
.button-tooltip {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.tooltip-action:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  background: #fff;
  bottom: -8px;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
}
.button-action:hover .tooltip-action {
  opacity: 1;
  pointer-events: auto;
  top: -45px;
}
.card-order {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  padding: 0 !important;
}
.day-display {
  background-color: #2e4f4f;
  border-radius: 10px;
  color: #fff;
  text-align: center;
  padding: 15px;
}
.item-body {
  padding: 15px;
}
.order-status {
  border-radius: 10px;
  padding: 5px;
  background-color: green;
  color: #fff;
}
.body-fw-400 tr td {
  font-weight: 400 !important;
  text-align: center;
}
.input-search {
  display: flex;
  justify-content: flex-end;
  margin: 10px 0;
}
.input-param {
  width: 200px;
  height: 56px;
  padding: 5px;
  margin-left: 15px;
}
.pd-0 {
  padding: 0;
}
