.user-item {
  background-color: #fff;
  border-radius: 15px;
  margin-bottom: 15px;
}
.avatar {
  padding: 15px 0 0 20px;
  text-align: center;
}
.list-user {
  width: 60%;
}
.user-item p{
  padding: 5px 0;
}
.table-paging{
  display: flex;
  justify-content: flex-end;
}
.table-paging button{
  margin: 0 5px 0 10px;
  background: transparent;
  border: none;
}
.user-status{  
  color: #fff;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
}