body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url(/public/images/background.jpg);
}

.body-content {
  min-height: 400px;
}
.error-message {
  font-size: 0.7rem;
  color: red;
}
.notification-container {
  top: 80px !important;
}
.user-fullname {
  color: #fff;
  font-size: 1.25rem;
}
.fname {
  display: flex;
  flex-direction: column;
}
.mr-15px{
  margin-right: 15px;
}